In [1]:
import numpy as np
import pandas as pd
import mysql.connector
import sqlalchemy

df = pd.read_csv('data.csv', encoding='big5', skiprows=1)
mydb = mysql.connector.connect(host='localhost',user='root',passwd='cayu4686')
sql_engine = sqlalchemy.create_engine("mysql+mysqlconnector://root:cayu4686@localhost/test")
# df.to_sql('tsmc',sql_engine)
df.describe()

             開盤價         最高價         最低價         收盤價       漲跌價差
count   89.00000   89.000000   89.000000   89.000000  89.000000
mean   254.08427  255.735955  252.269663  254.247191   0.629213
std     12.32289   12.116642   12.399151   12.229604   3.496368
min    231.50000  232.000000  229.500000  232.000000  -6.500000
25%    244.50000  247.000000  242.500000  246.000000  -1.500000
50%    253.00000  254.500000  251.000000  254.000000   0.500000
75%    263.50000  264.500000  261.500000  263.500000   2.500000
max    283.50000  286.500000  282.500000  286.500000   9.500000

In [5]:
df.head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,108/06/03,"36,687,092","8,651,389,851",235.5,238.5,232.0,238.0,2.5,"8,857"
1,108/06/04,"24,443,428","5,745,045,809",237.5,238.0,233.0,233.0,-5.0,"11,779"
2,108/06/05,"35,901,584","8,461,930,934",238.0,238.0,234.0,235.0,2.0,"12,064"
3,108/06/06,"34,651,731","8,008,768,323",231.5,232.0,229.5,232.0,-3.0,"14,723"
4,108/06/10,"35,521,888","8,442,986,620",237.5,240.0,234.5,240.0,8.0,"15,588"

In [25]:
df2 = pd.read_sql_query('select * from tsmc6_10',sql_engine)
# print(df2.head())
amt_avg = pd.read_sql_query('select AVG(成交股數) from tsmc',sql_engine)
amt_sum = pd.read_sql_query('select SUM(成交股數) from tsmc',sql_engine)
vol_avg = pd.read_sql_query('select AVG(成交金額) from tsmc',sql_engine)
vol_sum = pd.read_sql_query('select SUM(成交金額) from tsmc',sql_engine)
print(amt_avg)
print(amt_sum)
print(vol_avg)

   AVG(成交股數)
0  32.202247
   SUM(成交股數)
0     2866.0
   AVG(成交金額)
0   7.797753

In [31]:
float(df['成交股數'][i].replace(',','')) for i in range(len(df))

SyntaxError: invalid syntax (<ipython-input-31-3b8efd36f465>, line 1)

In [13]:
for i in range(len(df)):
    df['成交股數'][i] = int(df['成交股數'][i].replace(',',''))
    df['成交金額'][i] = int(df['成交金額'][i].replace(',',''))
df

G:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

G:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

           日期      成交股數         成交金額    開盤價    最高價    最低價    收盤價  漲跌價差    成交筆數
0   108/06/03  36687092   8651389851  235.5  238.5  232.0  238.0   2.5   8,857
1   108/06/04  24443428   5745045809  237.5  238.0  233.0  233.0  -5.0  11,779
2   108/06/05  35901584   8461930934  238.0  238.0  234.0  235.0   2.0  12,064
3   108/06/06  34651731   8008768323  231.5  232.0  229.5  232.0  -3.0  14,723
4   108/06/10  35521888   8442986620  237.5  240.0  234.5  240.0   8.0  15,588
5   108/06/11  34691670   8448805962  240.0  246.0  239.0  244.5   4.5  13,157
6   108/06/12  30409556   7469805086  244.5  247.5  243.0  246.0   1.5  11,457
7   108/06/13  33731724   8136137708  242.5  244.0  240.0  240.0  -6.0  13,552
8   108/06/14  35403556   8396819832  238.5  239.5  236.0  236.0  -4.0  14,911
9   108/06/17  51692012  12043369475  231.5  235.0  230.5  233.0  -3.0  20,943
10  108/06/18  28798087   6758454612  234.0  235.5  233.0  235.5   2.5   9,681
11  108/06/19  50234372  12181979568  242.5  244.0  240.5  244.0   8.5  20,528
12  108/06/20  39717291   9697726719  242.0  245.5  241.0  245.0   1.0  13,879
13  108/06/21  62136304  15398139830  248.0  248.5  246.0  248.5   3.5  19,049
14  108/06/24  43460507  10476936660  241.0  242.0  240.0  241.0   0.0  17,780
15  108/06/25  29735283   7118002390  241.0  241.5  237.0  238.5  -2.5  11,130
16  108/06/26  28770041   6757991717  235.0  236.5  234.0  234.5  -4.0  13,535
17  108/06/27  42007834  10063332494  236.0  241.5  236.0  240.5   6.0  14,983
18  108/06/28  28085212   6715488371  241.5  241.5  238.0  239.0  -1.5   8,987
19  108/07/01  66370875  16445222750  245.5  250.0  245.0  248.5   9.5  29,551
20  108/07/02  26832202   6671951743  249.5  250.0  247.5  249.0   0.5  12,531
21  108/07/03  29549774   7190777082  244.0  245.0  242.0  242.5  -6.5  16,033
22  108/07/04  18691240   4561556160  244.5  245.0  242.5  244.0   1.5   8,565
23  108/07/05  27317074   6624379927  244.5  245.0  241.5  243.0  -1.0   9,013
24  108/07/08  29190909   7057462187  240.0  244.5  240.0  242.5  -0.5  10,552
25  108/07/09  16538987   3998096596  241.5  243.0  240.5  242.0  -0.5   6,486
26  108/07/10  23812131   5839691357  243.0  247.0  243.0  247.0   5.0  12,366
27  108/07/11  31296289   7809358257  250.0  250.0  247.5  250.0   3.0  14,360
28  108/07/12  23868432   5984689000  252.0  252.0  249.5  250.5   0.5   8,363
29  108/07/15  34264300   8663129910  251.0  254.5  249.5  254.5   4.0  12,174
..        ...       ...          ...    ...    ...    ...    ...   ...     ...
59  108/08/27  53664951  13410582151  250.5  251.0  248.5  250.0   1.5   8,939
60  108/08/28  15280882   3852096070  250.5  253.0  250.5  252.0   2.0   6,829
61  108/08/29  20085767   5078703588  253.0  254.0  251.0  254.0   2.0   6,596
62  108/08/30  35299201   9092482858  256.5  259.0  256.0  259.0   5.0  13,703
63  108/09/02  14776854   3800453292  258.0  258.0  256.0  257.5  -1.5   7,608
64  108/09/03  26086495   6642868555  256.5  258.0  253.0  254.0  -3.5  11,210
65  108/09/04  23697733   6081456520  254.0  258.0  254.0  257.5   3.5   9,291
66  108/09/05  49041728  12869665251  263.0  263.0  260.5  263.0   5.5  22,796
67  108/09/06  26609515   7016868801  265.0  265.0  263.0  263.5   0.5  11,957
68  108/09/09  17317833   4585545966  265.5  266.0  263.5  265.0   1.5   8,762
69  108/09/10  30019866   7862297242  263.5  264.0  260.5  261.5  -3.5  11,831
70  108/09/11  36266015   9508884445  264.0  264.5  260.5  263.0   1.5  12,058
71  108/09/12  38792293  10198483555  265.0  265.0  261.5  262.5  -0.5   8,282
72  108/09/16  38913966  10258240252  262.0  265.5  261.5  265.5   3.0  11,120
73  108/09/17  30069844   7979032930  266.5  266.5  264.5  265.0  -0.5   9,222
74  108/09/18  51360759  13754334364  267.0  269.5  266.5  267.0   2.0  17,993
75  108/09/19  27165567   7216457755  268.0  268.0  264.0  265.0   0.0  10,194
76  108/09/20  44555865  11785924559  266.0  266.5  264.0  264.0  -1.0   9,109
77  108/09/23  14220208   3749146092  264.0  264.0  263.0  264.0   0.0   5,647
78  108/09/24  24304943   6419420695  263.5  265.5  262.0  265.0   1.0   9,180
79  108/09/25  23244163   6144037875  262.5  266.0  262.0  266.0   1.0   7,145
80  108/09/26  34128103   9139219995  269.0  269.5  266.5  268.0   2.0  11,861
81  108/09/27  44242817  12021629536  271.5  272.5  271.0  272.0   4.0  16,626
82  108/10/01  75248890  20886838992  273.0  280.5  273.0  280.0   8.0  26,648
83  108/10/02  30572953   8553297334  280.0  281.0  279.0  279.5  -0.5  12,294
84  108/10/03  35874864   9891620358  274.0  277.5  274.0  276.5  -3.0  12,853
85  108/10/04  35814613   9924872301  279.5  280.0  275.0  276.5   0.0  13,780
86  108/10/07  17750230   4944376000  279.0  279.5  277.5  278.0   1.5   7,757
87  108/10/08  39868551  11341522526  283.5  286.5  282.5  286.5   8.5  16,721
88  108/10/09  34895456   9890256397  283.5  286.0  282.0  282.0  -4.5  14,567

[89 rows x 9 columns]

In [66]:
# df.to_sql('tsmc6_10',sql_engine)
amt_avg = pd.read_sql_query('select AVG(成交股數) from tsmc6_10',sql_engine)
amt_sum = pd.read_sql_query('select SUM(成交股數) from tsmc6_10',sql_engine)
vol_avg = pd.read_sql_query('select AVG(成交金額) from tsmc6_10',sql_engine)
vol_sum = pd.read_sql_query('select SUM(成交金額) from tsmc6_10',sql_engine)
pd.options.display.float_format = '{:.4f}'.format
print(amt_avg)
print(amt_sum)
print(vol_avg)
print(vol_sum)

      AVG(成交股數)
0 32690295.5843
        SUM(成交股數)
0 2909436307.0000
        AVG(成交金額)
0 8304750158.4831
          SUM(成交金額)
0 739122764105.0000

In [104]:
# df3 = df['收盤價'].rolling(5).mean().cloumn
# df3['m5_avg_收盤價'] = cl_price_m5_avg
# df3['m5_avg_成交股數'] = vol_m5_avg
# df3
# for i in range(len(df)):
#     print(df['日期'][i], cl_price_m5_avg[i], vol_m5_avg[i])
cl_price_m5_avg = df['收盤價'].rolling(5).mean().rename("clpr_m5_avg")
vol_m5_avg = df['成交股數'].rolling(5).mean().rename("vol_m5_avg")
pd.set_option('display.max_rows', None)
df3 = pd.concat([df['日期'],cl_price_m5_avg,vol_m5_avg],axis=1)
df3[42:]

           日期  clpr_m5_avg    vol_m5_avg
42  108/08/01     259.6000 25722026.0000
43  108/08/02     257.7000 32401540.6000
44  108/08/05     254.8000 39274020.8000
45  108/08/06     252.5000 46478274.2000
46  108/08/07     250.2000 45092246.0000
47  108/08/08     249.6000 45098794.0000
48  108/08/12     249.5000 39212185.8000
49  108/08/13     249.5000 33654063.0000
50  108/08/14     249.7000 29138027.8000
51  108/08/15     249.7000 28906418.2000
52  108/08/16     249.0000 28017708.0000
53  108/08/19     249.2000 28090890.2000
54  108/08/20     250.8000 27205967.6000
55  108/08/21     251.8000 23992486.2000
56  108/08/22     253.0000 22764371.8000
57  108/08/23     253.8000 20579604.2000
58  108/08/26     253.1000 21908025.4000
59  108/08/27     252.2000 28516916.8000
60  108/08/28     251.7000 27519234.0000
61  108/08/29     251.7000 27109019.4000
62  108/08/30     252.7000 31214284.2000
63  108/09/02     254.5000 27821531.0000
64  108/09/03     255.3000 22305839.8000
65  108/09/04     256.4000 23989210.0000
66  108/09/05     258.2000 29780402.2000
67  108/09/06     259.1000 28042465.0000
68  108/09/09     260.6000 28550660.8000
69  108/09/10     262.1000 29337335.0000
70  108/09/11     263.2000 31850991.4000
71  108/09/12     263.1000 29801104.4000
72  108/09/16     263.5000 32261994.6000
73  108/09/17     263.5000 34812396.8000
74  108/09/18     264.6000 39080575.4000
75  108/09/19     265.0000 37260485.8000
76  108/09/20     265.3000 38413200.2000
77  108/09/23     265.0000 33474448.6000
78  108/09/24     265.0000 32321468.4000
79  108/09/25     264.8000 26698149.2000
80  108/09/26     265.4000 28090656.4000
81  108/09/27     267.0000 28028046.8000
82  108/10/01     270.2000 40233783.2000
83  108/10/02     273.1000 41487385.2000
84  108/10/03     275.2000 44013525.4000
85  108/10/04     276.9000 44350827.4000
86  108/10/07     278.1000 39052310.0000
87  108/10/08     279.4000 31976242.2000
88  108/10/09     279.9000 32840742.8000

In [167]:
# problem3
amount = 0
volume = 0
am_ratio = 0
vol_ratio = 0
col1 = '最高價'
col2 = '成交股數'
for i in range(1,len(df)):
    abs_amount = np.abs(df[col1][i]-df[col1][i-1])
    abs_volume = np.abs(df[col2][i]-df[col2][i-1])
    rt_amount = df[col1][i] / df[col1][i-1]
    rt_volume = df[col2][i] / df[col2][i-1]
    if abs_amount > amount:
        amount = abs_amount
        index = i
    if abs_volume > volume:
        volume = abs_volume
        ind_vol = i
    if rt_amount > am_ratio:
        am_ratio = rt_amount
        rt_amt_idx = i
    if rt_volume > vol_ratio:
        vol_ratio = rt_volume
        rt_vol_idx = i
print(amount, df['日期'][index])
print(volume, df['日期'][ind_vol])
print(am_ratio, df['日期'][rt_amt_idx])
print(vol_ratio, df['日期'][rt_vol_idx])

8.5 108/06/19
44675937.0 108/10/02
1.0360934182590233 108/06/19
2.8638870893879664 108/07/19

In [52]:
# problem 3
diff_highest_price = df['最高價'].diff().abs().max()
diff_highest_price_date = df['最高價'].diff().abs().idxmax()
diff_daily_trade = df['成交股數'].diff().abs().max()
diff_daily_trade_date = df['成交股數'].astype('float64').diff().abs().idxmax()
print(diff_highest_price, df['日期'][diff_highest_price_date])
print(diff_daily_trade, df['日期'][diff_daily_trade_date])

8.5 108/06/19
44675937 108/10/02

In [55]:
pct_diff_highest_price = df['最高價'].pct_change().abs().max()
pct_diff_highest_price_date = df['最高價'].pct_change().abs().idxmax()
pct_diff_daily_trade = df['成交股數'].pct_change().abs().max()
pct_diff_daily_trade_date = df['成交股數'].pct_change().abs().idxmax()
print(pct_diff_highest_price, df['日期'][pct_diff_highest_price_date])
print(pct_diff_daily_trade, df['日期'][pct_diff_daily_trade_date])

0.03609341825902335 108/06/19
1.8638870893879664 108/07/19

In [61]:
# problem 4 [成交股數] [關盤-開盤價] [最高-最低]
df_oc = [abs(df['收盤價'][i] - df['開盤價'][i]) for i in range(len(df))]
df_maxmin = [abs(df['最高價'][i] - df['最低價'][i]) for i in range(len(df))]
df['盤差'] = df_oc
df['高低差'] = df_maxmin
mn_vol = df['成交股數'].mean()
mn_oc = df['盤差'].mean()
mn_maxmin= df['高低差'].mean()
result = []
df2 = df[['成交股數','盤差','高低差']]
df2_normal = (df2 - df2.mean())/ (df2.std())
df2_normal
for i in range(len(df)):
    res = (df2_normal['成交股數'][i]**2 + (df2_normal["盤差"][i])**2 + (df2_normal['高低差'][i])**2)**0.5
    result.append((i,res))
result
sort_result = sorted(result,key=lambda x:x[1],reverse=True)
print(sort_result[:5])
index_result = [sort_result[i][0] for i in range(5)]
print(index_result)
df['日期'][index_result]

[(45, 6.524535953495741), (82, 5.524305584949438), (44, 3.1347667749170607), (19, 3.0359956059954873), (5, 2.9434312544114394)]
[45, 82, 44, 19, 5]

45    108/08/06
82    108/10/01
44    108/08/05
19    108/07/01
5     108/06/11
Name: 日期, dtype: object

In [62]:
# problem 5
# bruce force
ans = []

for i in range(len(df)-1):
    for j in range(i+1,len(df)):
        diff = df['收盤價'][j] - df['收盤價'][i]
        ans.append((df['日期'][i],df['日期'][j],diff))
final_ans = sorted(ans, key=lambda x:x[2], reverse=True)
final_ans[:5]

[('108/06/06', '108/10/08', 54.5),
 ('108/06/04', '108/10/08', 53.5),
 ('108/06/17', '108/10/08', 53.5),
 ('108/06/26', '108/10/08', 52.0),
 ('108/06/05', '108/10/08', 51.5)]

0.0

In [69]:
result

[(1,
  '108/06/04',
  '24,443,428',
  '5,745,045,809',
  237.5,
  238.0,
  233.0,
  233.0,
  -5.0,
  '11,779'),
 (2,
  '108/06/05',
  '35,901,584',
  '8,461,930,934',
  238.0,
  238.0,
  234.0,
  235.0,
  2.0,
  '12,064'),
 (3,
  '108/06/06',
  '34,651,731',
  '8,008,768,323',
  231.5,
  232.0,
  229.5,
  232.0,
  -3.0,
  '14,723'),
 (4,
  '108/06/10',
  '35,521,888',
  '8,442,986,620',
  237.5,
  240.0,
  234.5,
  240.0,
  8.0,
  '15,588'),
 (5,
  '108/06/11',
  '34,691,670',
  '8,448,805,962',
  240.0,
  246.0,
  239.0,
  244.5,
  4.5,
  '13,157'),
 (6,
  '108/06/12',
  '30,409,556',
  '7,469,805,086',
  244.5,
  247.5,
  243.0,
  246.0,
  1.5,
  '11,457'),
 (7,
  '108/06/13',
  '33,731,724',
  '8,136,137,708',
  242.5,
  244.0,
  240.0,
  240.0,
  -6.0,
  '13,552'),
 (8,
  '108/06/14',
  '35,403,556',
  '8,396,819,832',
  238.5,
  239.5,
  236.0,
  236.0,
  -4.0,
  '14,911'),
 (9,
  '108/06/17',
  '51,692,012',
  '12,043,369,475',
  231.5,
  235.0,
  230.5,
  233.0,
  -3.0,
  '20,943'),
 (10,
  '108/06/18',
  '28,798,087',
  '6,758,454,612',
  234.0,
  235.5,
  233.0,
  235.5,
  2.5,
  '9,681'),
 (11,
  '108/06/19',
  '50,234,372',
  '12,181,979,568',
  242.5,
  244.0,
  240.5,
  244.0,
  8.5,
  '20,528'),
 (12,
  '108/06/20',
  '39,717,291',
  '9,697,726,719',
  242.0,
  245.5,
  241.0,
  245.0,
  1.0,
  '13,879'),
 (13,
  '108/06/21',
  '62,136,304',
  '15,398,139,830',
  248.0,
  248.5,
  246.0,
  248.5,
  3.5,
  '19,049'),
 (14,
  '108/06/24',
  '43,460,507',
  '10,476,936,660',
  241.0,
  242.0,
  240.0,
  241.0,
  0.0,
  '17,780'),
 (15,
  '108/06/25',
  '29,735,283',
  '7,118,002,390',
  241.0,
  241.5,
  237.0,
  238.5,
  -2.5,
  '11,130'),
 (16,
  '108/06/26',
  '28,770,041',
  '6,757,991,717',
  235.0,
  236.5,
  234.0,
  234.5,
  -4.0,
  '13,535'),
 (17,
  '108/06/27',
  '42,007,834',
  '10,063,332,494',
  236.0,
  241.5,
  236.0,
  240.5,
  6.0,
  '14,983'),
 (18,
  '108/06/28',
  '28,085,212',
  '6,715,488,371',
  241.5,
  241.5,
  238.0,
  239.0,
  -1.5,
  '8,987'),
 (19,
  '108/07/01',
  '66,370,875',
  '16,445,222,750',
  245.5,
  250.0,
  245.0,
  248.5,
  9.5,
  '29,551'),
 (20,
  '108/07/02',
  '26,832,202',
  '6,671,951,743',
  249.5,
  250.0,
  247.5,
  249.0,
  0.5,
  '12,531'),
 (21,
  '108/07/03',
  '29,549,774',
  '7,190,777,082',
  244.0,
  245.0,
  242.0,
  242.5,
  -6.5,
  '16,033'),
 (22,
  '108/07/04',
  '18,691,240',
  '4,561,556,160',
  244.5,
  245.0,
  242.5,
  244.0,
  1.5,
  '8,565'),
 (23,
  '108/07/05',
  '27,317,074',
  '6,624,379,927',
  244.5,
  245.0,
  241.5,
  243.0,
  -1.0,
  '9,013'),
 (24,
  '108/07/08',
  '29,190,909',
  '7,057,462,187',
  240.0,
  244.5,
  240.0,
  242.5,
  -0.5,
  '10,552'),
 (25,
  '108/07/09',
  '16,538,987',
  '3,998,096,596',
  241.5,
  243.0,
  240.5,
  242.0,
  -0.5,
  '6,486'),
 (26,
  '108/07/10',
  '23,812,131',
  '5,839,691,357',
  243.0,
  247.0,
  243.0,
  247.0,
  5.0,
  '12,366'),
 (27,
  '108/07/11',
  '31,296,289',
  '7,809,358,257',
  250.0,
  250.0,
  247.5,
  250.0,
  3.0,
  '14,360'),
 (28,
  '108/07/12',
  '23,868,432',
  '5,984,689,000',
  252.0,
  252.0,
  249.5,
  250.5,
  0.5,
  '8,363'),
 (29,
  '108/07/15',
  '34,264,300',
  '8,663,129,910',
  251.0,
  254.5,
  249.5,
  254.5,
  4.0,
  '12,174'),
 (30,
  '108/07/16',
  '26,141,249',
  '6,678,755,679',
  254.0,
  256.5,
  253.5,
  256.0,
  1.5,
  '8,994'),
 (31,
  '108/07/17',
  '34,346,648',
  '8,686,815,824',
  254.0,
  254.0,
  251.0,
  252.0,
  -4.0,
  '11,106'),
 (32,
  '108/07/18',
  '20,908,575',
  '5,300,082,470',
  252.0,
  254.5,
  251.5,
  254.0,
  2.0,
  '8,245'),
 (33,
  '108/07/19',
  '59,879,798',
  '15,573,278,932',
  259.5,
  261.0,
  259.0,
  259.0,
  5.0,
  '21,827'),
 (34,
  '108/07/22',
  '31,863,639',
  '8,385,222,407',
  263.0,
  264.0,
  262.0,
  264.0,
  5.0,
  '13,424'),
 (35,
  '108/07/23',
  '29,273,223',
  '7,734,089,131',
  265.5,
  266.5,
  262.5,
  264.0,
  0.0,
  '12,791'),
 (36,
  '108/07/24',
  '24,511,039',
  '6,484,708,226',
  266.5,
  266.5,
  263.0,
  265.0,
  1.0,
  '10,617'),
 (37,
  '108/07/25',
  '30,698,545',
  '8,091,922,380',
  264.0,
  265.0,
  261.5,
  265.0,
  0.0,
  '10,643'),
 (38,
  '108/07/26',
  '20,768,071',
  '5,434,082,968',
  261.0,
  262.5,
  261.0,
  261.0,
  -4.0,
  '8,850'),
 (39,
  '108/07/29',
  '18,473,320',
  '4,822,762,518',
  260.0,
  262.0,
  259.5,
  261.0,
  0.0,
  '6,681'),
 (40,
  '108/07/30',
  '22,895,612',
  '5,975,389,270',
  262.5,
  263.0,
  260.0,
  260.0,
  -1.0,
  '7,191'),
 (41,
  '108/07/31',
  '36,365,601',
  '9,413,416,604',
  260.0,
  260.0,
  257.0,
  259.5,
  -0.5,
  '10,468'),
 (42,
  '108/08/01',
  '30,107,526',
  '7,722,031,382',
  257.5,
  257.5,
  255.5,
  256.5,
  -3.0,
  '11,372'),
 (43,
  '108/08/02',
  '54,165,644',
  '13,627,068,452',
  252.0,
  253.5,
  250.5,
  251.5,
  -5.0,
  '18,096'),
 (44,
  '108/08/05',
  '52,835,721',
  '13,092,403,583',
  251.0,
  252.0,
  245.5,
  246.5,
  -5.0,
  '20,136'),
 (45,
  '108/08/06',
  '58,916,879',
  '14,440,787,992',
  240.0,
  250.0,
  240.0,
  248.5,
  2.0,
  '22,358'),
 (46,
  '108/08/07',
  '29,435,460',
  '7,305,272,500',
  250.0,
  250.5,
  246.5,
  248.0,
  -0.5,
  '11,208'),
 (47,
  '108/08/08',
  '30,140,266',
  '7,599,200,564',
  248.0,
  254.0,
  248.0,
  253.5,
  5.5,
  '11,228'),
 (48,
  '108/08/12',
  '24,732,603',
  '6,242,935,989',
  254.5,
  254.5,
  251.0,
  251.0,
  -2.5,
  '8,415'),
 (49,
  '108/08/13',
  '25,045,107',
  '6,204,239,476',
  249.0,
  249.5,
  246.5,
  246.5,
  -4.5,
  '11,377'),
 (50,
  '108/08/14',
  '36,336,703',
  '9,142,333,535',
  252.5,
  254.0,
  249.5,
  249.5,
  3.0,
  '13,609'),
 (51,
  '108/08/15',
  '28,277,412',
  '6,994,442,633',
  247.0,
  248.5,
  246.0,
  248.0,
  -1.5,
  '10,852'),
 (52,
  '108/08/16',
  '25,696,715',
  '6,420,744,887',
  249.5,
  252.0,
  248.0,
  250.0,
  2.0,
  '8,994'),
 (53,
  '108/08/19',
  '25,098,514',
  '6,326,683,127',
  251.5,
  253.0,
  250.5,
  252.0,
  2.0,
  '9,398'),
 (54,
  '108/08/20',
  '20,620,494',
  '5,233,263,533',
  254.0,
  254.5,
  252.5,
  254.5,
  2.5,
  '8,214'),
 (55,
  '108/08/21',
  '20,269,296',
  '5,152,545,480',
  254.5,
  255.0,
  253.0,
  254.5,
  0.0,
  '7,383'),
 (56,
  '108/08/22',
  '22,136,840',
  '5,659,296,700',
  257.0,
  257.5,
  254.0,
  254.0,
  -0.5,
  '8,794'),
 (57,
  '108/08/23',
  '14,772,877',
  '3,748,071,178',
  253.5,
  254.5,
  253.0,
  254.0,
  0.0,
  '5,663'),
 (58,
  '108/08/26',
  '31,740,620',
  '7,910,873,500',
  249.0,
  250.5,
  248.5,
  248.5,
  -5.5,
  '13,388'),
 (59,
  '108/08/27',
  '53,664,951',
  '13,410,582,151',
  250.5,
  251.0,
  248.5,
  250.0,
  1.5,
  '8,939'),
 (60,
  '108/08/28',
  '15,280,882',
  '3,852,096,070',
  250.5,
  253.0,
  250.5,
  252.0,
  2.0,
  '6,829'),
 (61,
  '108/08/29',
  '20,085,767',
  '5,078,703,588',
  253.0,
  254.0,
  251.0,
  254.0,
  2.0,
  '6,596'),
 (62,
  '108/08/30',
  '35,299,201',
  '9,092,482,858',
  256.5,
  259.0,
  256.0,
  259.0,
  5.0,
  '13,703'),
 (63,
  '108/09/02',
  '14,776,854',
  '3,800,453,292',
  258.0,
  258.0,
  256.0,
  257.5,
  -1.5,
  '7,608'),
 (64,
  '108/09/03',
  '26,086,495',
  '6,642,868,555',
  256.5,
  258.0,
  253.0,
  254.0,
  -3.5,
  '11,210'),
 (65,
  '108/09/04',
  '23,697,733',
  '6,081,456,520',
  254.0,
  258.0,
  254.0,
  257.5,
  3.5,
  '9,291'),
 (66,
  '108/09/05',
  '49,041,728',
  '12,869,665,251',
  263.0,
  263.0,
  260.5,
  263.0,
  5.5,
  '22,796'),
 (67,
  '108/09/06',
  '26,609,515',
  '7,016,868,801',
  265.0,
  265.0,
  263.0,
  263.5,
  0.5,
  '11,957'),
 (68,
  '108/09/09',
  '17,317,833',
  '4,585,545,966',
  265.5,
  266.0,
  263.5,
  265.0,
  1.5,
  '8,762'),
 (69,
  '108/09/10',
  '30,019,866',
  '7,862,297,242',
  263.5,
  264.0,
  260.5,
  261.5,
  -3.5,
  '11,831'),
 (70,
  '108/09/11',
  '36,266,015',
  '9,508,884,445',
  264.0,
  264.5,
  260.5,
  263.0,
  1.5,
  '12,058'),
 (71,
  '108/09/12',
  '38,792,293',
  '10,198,483,555',
  265.0,
  265.0,
  261.5,
  262.5,
  -0.5,
  '8,282'),
 (72,
  '108/09/16',
  '38,913,966',
  '10,258,240,252',
  262.0,
  265.5,
  261.5,
  265.5,
  3.0,
  '11,120'),
 (73,
  '108/09/17',
  '30,069,844',
  '7,979,032,930',
  266.5,
  266.5,
  264.5,
  265.0,
  -0.5,
  '9,222'),
 (74,
  '108/09/18',
  '51,360,759',
  '13,754,334,364',
  267.0,
  269.5,
  266.5,
  267.0,
  2.0,
  '17,993'),
 (75,
  '108/09/19',
  '27,165,567',
  '7,216,457,755',
  268.0,
  268.0,
  264.0,
  265.0,
  0.0,
  '10,194'),
 (76,
  '108/09/20',
  '44,555,865',
  '11,785,924,559',
  266.0,
  266.5,
  264.0,
  264.0,
  -1.0,
  '9,109'),
 (77,
  '108/09/23',
  '14,220,208',
  '3,749,146,092',
  264.0,
  264.0,
  263.0,
  264.0,
  0.0,
  '5,647'),
 (78,
  '108/09/24',
  '24,304,943',
  '6,419,420,695',
  263.5,
  265.5,
  262.0,
  265.0,
  1.0,
  '9,180'),
 (79,
  '108/09/25',
  '23,244,163',
  '6,144,037,875',
  262.5,
  266.0,
  262.0,
  266.0,
  1.0,
  '7,145'),
 (80,
  '108/09/26',
  '34,128,103',
  '9,139,219,995',
  269.0,
  269.5,
  266.5,
  268.0,
  2.0,
  '11,861'),
 (81,
  '108/09/27',
  '44,242,817',
  '12,021,629,536',
  271.5,
  272.5,
  271.0,
  272.0,
  4.0,
  '16,626'),
 (82,
  '108/10/01',
  '75,248,890',
  '20,886,838,992',
  273.0,
  280.5,
  273.0,
  280.0,
  8.0,
  '26,648'),
 (83,
  '108/10/02',
  '30,572,953',
  '8,553,297,334',
  280.0,
  281.0,
  279.0,
  279.5,
  -0.5,
  '12,294'),
 (84,
  '108/10/03',
  '35,874,864',
  '9,891,620,358',
  274.0,
  277.5,
  274.0,
  276.5,
  -3.0,
  '12,853'),
 (85,
  '108/10/04',
  '35,814,613',
  '9,924,872,301',
  279.5,
  280.0,
  275.0,
  276.5,
  0.0,
  '13,780'),
 (86,
  '108/10/07',
  '17,750,230',
  '4,944,376,000',
  279.0,
  279.5,
  277.5,
  278.0,
  1.5,
  '7,757'),
 (87,
  '108/10/08',
  '39,868,551',
  '11,341,522,526',
  283.5,
  286.5,
  282.5,
  286.5,
  8.5,
  '16,721'),
 (88,
  '108/10/09',
  '34,895,456',
  '9,890,256,397',
  283.5,
  286.0,
  282.0,
  282.0,
  -4.5,
  '14,567')]

In [47]:
df.describe()

             開盤價         最高價         最低價         收盤價       漲跌價差
count   89.00000   89.000000   89.000000   89.000000  89.000000
mean   254.08427  255.735955  252.269663  254.247191   0.629213
std     12.32289   12.116642   12.399151   12.229604   3.496368
min    231.50000  232.000000  229.500000  232.000000  -6.500000
25%    244.50000  247.000000  242.500000  246.000000  -1.500000
50%    253.00000  254.500000  251.000000  254.000000   0.500000
75%    263.50000  264.500000  261.500000  263.500000   2.500000
max    283.50000  286.500000  282.500000  286.500000   9.500000