# Python Basics 2 - Powerful Python objects

## Four powerful built-in classes: tuples, lists, dictionaries and strings

Tuples, lists, directionaries and strings are fundamental built-in Python types.  This is one of the main difference between Python and more traditional languages, such as C, C++.  

These objects are very powerful.  


## Tuples and lists
Tuple and lists are similar, but cannot be modified once defined.

In [1]:
# tuples
x = (1, 2, 3)
y = (4, 5, 6)
print("x is: ", x)
print("y is: ", y)
z = x+y
print("z is: ", z)

# indexing
print("The 2nd element of x: ", x[1])

print("Type of x is: ", type(x))
print("Type of x[1] is: ", x[1])

x is:  (1, 2, 3)
y is:  (4, 5, 6)
z is:  (1, 2, 3, 4, 5, 6)
The 2nd element of x:  2
Type of x is:  <class 'tuple'>
Type of x[1] is:  2

In [2]:
# tuples are immutable (tuples cannot be modified)
# following code will cause TypeError
x[2] = 9

TypeError: ignored

In [3]:
# tuples can be multidimensional
x = ((1,2),(1,2),(1,2))
print(x)
y = ((1,2),(1,2,3),(1,2))
print(y)
print(x[0])
print(y[1])
print(y[1][2])

((1, 2), (1, 2), (1, 2))
((1, 2), (1, 2, 3), (1, 2))
(1, 2)
(1, 2, 3)
3

In [4]:
# indexing out of range will cause error
print(y[1][3])  # this will cause an IndexError

IndexError: ignored

In [0]:
# Lists
# lists are similar to tuple, but are mutable (can be modified)
x = [1, 2, 3]
y = [4, 5, 6]
print("x is: ", x)
print("y is: ", y)
z = x+y
print("z is x+y: ", z)

x[2] = 9
print("After changing x[2], x is: ", x)

# Will changing the content of x change z?
# (Call "deep copying" in programming language terminoloty.)
print("After chaing x[2], will z be affected? ", z)

x is:  [1, 2, 3]
y is:  [4, 5, 6]
z is x+y:  [1, 2, 3, 4, 5, 6]
After changing x[2], x is:  [1, 2, 9]
After chaing x[2], will z be affected?  [1, 2, 3, 4, 5, 6]

In [0]:
# Lists within lists, similar to tuples within tuples
x = [[1,2],[3,4],[5,6]]
print(x)
y = [[1,2],[3,4,3,4],[5,6]]
print(y)

[[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4, 3, 4], [5, 6]]

In [5]:
# max and min functions for tuples and lists
print("max of the thre numbers 1, 2, 3 is:", max(1,2,3))
x1 = (1,2,3,4)
y1 = [1,2,3,4,5]
print("max of the tuple x1 is: ", max(x1))
print("max of the list y1 is: ", max(y1))

max of the thre numbers 1, 2, 3 is: 3
max of the tuple x1 is:  4
max of the list y1 is:  5

In [6]:
# the "in" operation for tuple and list

x1 = (1,2,3,4)
y1 = [1,2,3,4,5]


print("Is 3 in x1? ", 3 in x1)
print("Is 4 in x1? ", 4 in x1)
print("Is 5 in x1? ", 5 in x1)
print("Is 5 in y1? ", 5 in y1)
print("Is 6 in y1? ", 6 in y1)

Is 3 in x1?  True
Is 4 in x1?  True
Is 5 in x1?  False
Is 5 in y1?  True
Is 6 in y1?  False

Can we have tuples and lists of elements with different types?

In [7]:
a = (3, 'apple', 4.2)
print(a)

print("Is apple in a? ", "apple" in a)

(3, 'apple', 4.2)
Is apple in a?  True

In [8]:
# You need to have tuple and lists of same type elements if you want to use min(), max()
print(max(a))

TypeError: ignored

### Tuples and list are fundamental objects for the "for loop"

Tuples and lists are fundamental for "for loops" in Python.  This is one of the key differeces between Python and other languages!

In [10]:
x = (1, 2, 3)
for i in x:
  print(i)

1
2
5

In [13]:
# print all prime numbers less than 20 using one for loop
# This will be more code in other languages, but is quite simple in Python
x = (2,3,5,-7,'apple',13,17)
for i in x:
  print(i)

2
3
5
-7
apple
13
17

In [14]:
# you can use for loop with lists, too
y = ["apple", "banana", "orange"]
for i in y:
  print(i)

apple
banana
orange

In [15]:
a = (3, "apple", 4.2)
for i in a:
  print(i)

3
apple
4.2

In [16]:
#How to create a loop with large number?
#Use range function
for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

#### Exercise:
* What exactly is range()?
* It's a function call that returns a range object.
 

Find out:
* What is a range object? 
* What operation can be performed on range object? (Do you remember how to find out?)

In [0]:
print(range(20))

range(0, 20)

### More operations for lists

In [17]:
# Arithmetic-like operations for lists
x, y = [1,2,3],[7,7,7,8,9]
print(x+y)
print(x*2+y)

[1, 2, 3, 7, 7, 7, 8, 9]
[1, 2, 3, 1, 2, 3, 7, 7, 7, 8, 9]

In [20]:
# append(), count()
x.append(10)
print(x)

x.append(10)
print(x)
print("How many 3 are there in x? ", x.count(3))
print("How many 10 are there in x? ", x.count(10))
print("How many 7 ar there in y? ", y.count(7))

# combine two lists
x.extend([10, 10])
print(x)

dir([1,2])
help([1,2].extend)

[1, 2, 3, 10, 10, 10, 10, 10, 10, 10, 10, 10]
[1, 2, 3, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
How many 3 are there in x?  1
How many 10 are there in x?  10
How many 7 ar there in y?  3
[1, 2, 3, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
Help on built-in function extend:

extend(...) method of builtins.list instance
    L.extend(iterable) -> None -- extend list by appending elements from the iterable

In [21]:
#remove(), reverse(), sort()
x = [3, 7, 21, 4, 9, 36]
print(x)

x.reverse()
print("After reversing x, it become: ", x)

x.remove(3)
print("After removing the element 3, it becomes: ", x)

x.sort()
print("After sorting, x becomes: ", x)

[3, 7, 21, 4, 9, 36]
After reversing x, it become:  [36, 9, 4, 21, 7, 3]
After removing the element 3, it becomes:  [36, 9, 4, 21, 7]
After sorting, x becomes:  [4, 7, 9, 21, 36]

In [22]:
# How many elements are removed?
y = [1, 2, 3, 3, 3, 6]
y.remove(3)
print("After remove(3) once, y is: ", y)

After remove(3) once, y is:  [1, 2, 3, 3, 6]

In [23]:
#How to add up a list of numbers quickly?

x = [37456, 2342, 19886, 236775, 97638]


total = 0
for i in x:
  total += i

print("The total is: ", total)

The total is:  394097

In [24]:
# even faster way
total = sum(x)
print(total)

394097

In [6]:
a = (1,2,3)
dir(sum)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

#### Exercise

* What is this sum() function?
* Besides list, can sum() works on tupel?
* Can sum() work on range object?
* What's the result of sum(range(20))?

Find out

## Indexing and slicing

Python supports poweful manipulation of tuples and lists

### Indexing
Tip: `list[x]` means:
* The xth element
* Counting starts from 0
* Negative number means counting from the back
* Negative number starts from -1

In [25]:
# Indexing of tuple
ta = (1, 2, 3, 4, 5, 6, 7)
print(ta[0])
print(ta[1])
print(ta[-1])
print(ta[-2])

1
2
7
6

In [0]:
# Indexing of list is the same
la = [1, 2, 3, 4, 5, 6, 7]
print(la[0])
print(la[1])
print(la[-1])
print(la[-2])

1
2
7
6

### Slicing: specify many elements at once
Tip: `list[x:y]` means:
* Starts from the xth, to the element in front of the yth (not including yth) 
* The counting starts from 0
* Negative numbers means counting from the end.
* Negative number starts from -1 
* If x is left blank, it means starting from the beginning; if y is left blank, it means continuing till the end

In [26]:
la = [1, 2, 3, 4, 5, 6, 7]

# from the beginning to the position before index 3, that is: element 0, 1, 2
print(la[:3])

print(la[:-1])

# from element at index 3 to the end
print(la[3:])

# from "2nd from the end", to the end
print(la[-2:])

# Some other example
print(la[2:-3])

# This means everything
print(la[:])
print(la)

[1, 2, 3]
[1, 2, 3, 4, 5, 6]
[4, 5, 6, 7]
[6, 7]
[3, 4]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

When there are two colon, the 3rd number means step size

In [0]:
la = [1, 2, 3, 4, 5, 6, 7]
print(la[::2])
print(la[1::2])
print(la[:-1:2])

[1, 3, 5, 7]
[2, 4, 6]
[1, 3, 5]

You can get the sizes of tuples and lists by len()

In [0]:
tx = (2,3,5,7,11,13,17)
lx = [2,3,5,7,11,13,17]
print(len(tx))
print(len(lx))

7
7

##Strings

* Python strings are created by quoting a character string with ' or "
* Strings behave similarly as tuples and lists many ways, including indexing and slicing.

###Operations similar to tuples and lists

* len()
* min(), max()
* joining strings

In [27]:
mystring = "This is a string I created"

print(mystring)

print("The length of the string is: ", len(mystring))

This is a string I created
The length of the string is:  26

In [28]:
mystring = "This is a string I created"
print("max is: ", max(mystring))
print("min is: ", min(mystring))

max is:  t
min is:

Strings can be joined using `+`

In [29]:
a = "This is "
b = "great!"
c = a + b
print(c)

This is great!

A tuple of strings can be joined using the join() method.
A list of strings can be joined similarly.

In [31]:
#The join() function for combining strings

fruittuple = ('apple', 'banana', 'orange')
animallist = ['dog','cat','pig','bird','fish']

middle = ' AND '
print(middle.join(fruittuple))
print(middle.join(animallist))

middle = '\t'
print(middle.join(fruittuple))

middle = '==='
print(middle.join(animallist))

apple AND banana AND orange
dog AND cat AND pig AND bird AND fish
apple	banana	orange
dog===cat===pig===bird===fish

### Operations unique to strings

Removing leadning and trailing characters

In [32]:
# lstrip() function removes the leading characters
mystring = "***creative==="
print( mystring )

newstring = mystring.lstrip("*")
print( newstring )

# rstrip() function removes the trailing characters
newstring = mystring.rstrip("=")
print( newstring )

# remove both sides with one line

newstring = mystring.lstrip("*").rstrip("=")
print( newstring )

print("\nThese function are very useful for data processing in the future!!!")

***creative===
creative===
***creative
creative

These function are very useful for data processing in the future!!!

In [33]:
mystring = '       This is another string      '
mystring2 = '******This is another string******'
a = '==='
print(a + mystring + a)
print(a + mystring.strip() + a)
print(a + mystring2 + a)
print(a + mystring2.strip('*') + a)

===       This is another string      ===
===This is another string===
===******This is another string******===
===This is another string===

In [34]:
# Manipulating cases of string
mystring = "This is a string I created"

print("The original string is:\t\t\t", mystring)

print("Swap upper case and lower case:\t\t", mystring.swapcase())

print("Convert every character to lower case:\t", mystring.lower())

print("Convert the whole string to upper case:\t", mystring.upper())

The original string is:			 This is a string I created
Swap upper case and lower case:		 tHIS IS A STRING i CREATED
Convert every character to lower case:	 this is a string i created
Convert the whole string to upper case:	 THIS IS A STRING I CREATED

In [35]:
# zfill() is useful in formatting numbers
str = '369'
print(str)
print(str.zfill(10))

strs = ['369','2468', '156743','45636098', '245']
print("All the numbers are -----------")
for i in strs:
  print(i)

print("All the numbers are -----------")
for i in strs:
  print(i.zfill(10))

369
0000000369
All the numbers are -----------
369
2468
156743
45636098
245
All the numbers are -----------
0000000369
0000002468
0000156743
0045636098
0000000245

In [37]:
# replace() function
mystring = "***Creative***"
newstring = mystring.replace('*', '-')
print(newstring)

DDDCreativeDDD

In [38]:
# split() splits a string.
# This is very useful!

mystring = "This is a string I created"
after = mystring.split(' ')
print(after)

string2 = "111,222,333,444,555"
after = string2.split(',')
print(after)

['This', 'is', 'a', 'string', 'I', 'created']
['111', '222', '333', '444', '555']

## Set

In [39]:
a = {1, 2, 3}
b = {2, 3, 4}
c = {3, 4, 5}
print("Intersection a&b: ", a&b)
print("Union a|b: ", a|b)
print("Difference a-b: ", a-b)

print(a.intersection(b))
print(a.union(b))
print(a.difference(b))

Intersection a&b:  {2, 3}
Union a|b:  {1, 2, 3, 4}
Difference a-b:  {1}
{2, 3}
{1, 2, 3, 4}
{1}

## Dictionary
A dictionary in Python is a collection of (key, value) pairs

In [40]:
#Dictionary indexing and length

Agelist = {'John':36, 'Mary': 38, 'Peter':69, "Kate":5, "Jane":19}
print("The age of kate is: ", Agelist['Kate'])
print("The age of Peter is:", Agelist["Peter"])

print("How many people are recorded in the Agelist: ", len(Agelist))

The age of kate is:  5
The age of Peter is: 69
How many people are recorded in the Agelist:  5

In [43]:
#items() turns a dictionary into a list
print( Agelist.items())
a = Agelist.items()
print(type(a))

for i in Agelist.items():
  print (i)

dict_items([('John', 36), ('Mary', 38), ('Peter', 69), ('Kate', 5), ('Jane', 19)])
<class 'dict_items'>
('John', 36)
('Mary', 38)
('Peter', 69)
('Kate', 5)
('Jane', 19)

In [44]:
#keys() extract all the keys in a dictionary
print( Agelist.keys())
b = Agelist.keys()
print(type(b))

for i in b:
  print(i)

dict_keys(['John', 'Mary', 'Peter', 'Kate', 'Jane'])
<class 'dict_keys'>
John
Mary
Peter
Kate
Jane

In [45]:
#keys() extract all values in a dictionary
print( Agelist.values())
c = Agelist.values()
print(type(c))

for i in Agelist.values():
  print(i)

dict_values([36, 38, 69, 5, 19])
<class 'dict_values'>
36
38
69
5
19

In [46]:
# Update
print(Agelist['John'])
Agelist['John'] = 30
print(Agelist['John'])

36
30

In [47]:
# add dictionary items
Agelist['Thor'] = 15000
print(Agelist)

{'John': 30, 'Mary': 38, 'Peter': 69, 'Kate': 5, 'Jane': 19, 'Thor': 15000}

In [48]:
# Remove item
Agelist.pop('Thor')
print(Agelist)

{'John': 30, 'Mary': 38, 'Peter': 69, 'Kate': 5, 'Jane': 19}