In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('hw5_data.csv',sep="\s*,\s*")
df_dum = pd.get_dummies(df)
df_dum

G:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

,Customer ID,Gender_F,Gender_M,Car Type_Family,Car Type_Luxury,Car Type_Sports,Shirt Size_Extra Large,Shirt Size_Large,Shirt Size_Medium,Shirt Size_Small,Class_C0,Class_C1
0,1,0,1,1,0,0,0,0,0,1,1,0
1,2,0,1,0,0,1,0,0,1,0,1,0
2,3,0,1,0,0,1,0,0,1,0,1,0
3,4,0,1,0,0,1,0,1,0,0,1,0
4,5,0,1,0,0,1,1,0,0,0,1,0
5,6,0,1,0,0,1,1,0,0,0,1,0
6,7,1,0,1,0,0,0,1,0,0,1,0
7,8,1,0,0,0,1,0,0,0,1,1,0
8,9,1,0,0,0,1,0,0,1,0,1,0
9,10,1,0,0,1,0,0,1,0,0,1,0
10,11,0,1,1,0,0,0,1,0,0,1,0
11,12,0,1,1,0,0,1,0,0,0,1,0
12,13,0,1,1,0,0,0,0,1,0,0,1
13,14,0,1,0,1,0,1,0,0,0,0,1
14,15,1,0,1,0,0,0,1,0,0,0,1
15,16,1,0,0,1,0,0,0,0,1,0,1
16,17,1,0,0,1,0,0,0,1,0,0,1
17,18,1,0,0,1,0,0,0,1,0,0,1
18,19,1,0,0,1,0,0,0,1,0,0,1
19,20,1,0,0,1,0,0,1,0,0,0,1

In [5]:
def gini_index(df, attribute):
    ch1_c0 = 0
    ch1_c1 = 0
    ch2_c0 = 0
    ch2_c1 = 0
    for i in range(len(df)):
        print(df.loc[i][attribute])
        if df.loc[i][attribute] == 1:
            if df.loc[i]["Class_C0"] == 1:
                ch1_c0 += 1
            elif df.loc[i]["Class_C1"] == 1:
                ch1_c1 += 1
        else:
            if df.loc[i]["Class_C0"] == 1:
                ch2_c0 += 1
            elif df.loc[i]["Class_C1"] == 1:
                ch2_c1 += 1
    ch1_num = ch1_c0+ch1_c1
    ch2_num = ch2_c0+ch2_c1
    gini_ch1 = 1 - (ch1_c0/(ch1_c0+ch1_c1))**2 - (ch1_c1/(ch1_c0+ch1_c1))**2
    gini_ch2 = 1 - (ch2_c0/(ch2_c0+ch2_c1))**2 - (ch2_c1/(ch2_c0+ch2_c1))**2
    child_gini = (ch1_num/len(df))*gini_ch1 + (ch2_num/len(df))*gini_ch2
    print(gini_ch1, gini_ch2,child_gini)
    
gini_index(df_dum, "Gender_F")

0
0
0
0
0
0
1
1
1
1
0
0
0
0
1
1
1
1
1
1
0.48 0.31999999999999984 0.3999999999999999

    Customer ID Gender Car Type   Shirt Size Class
0             1      M   Family        Small    C0
1             2      M   Sports       Medium    C0
2             3      M   Sports       Medium    C0
3             4      M   Sports        Large    C0
4             5      M   Sports  Extra Large    C0
5             6      M   Sports  Extra Large    C0
6             7      F   Family        Large    C0
7             8      F   Sports        Small    C0
8             9      F   Sports       Medium    C0
9            10      F   Luxury        Large    C0
10           11      M   Family        Large    C0
11           12      M   Family  Extra Large    C0
12           13      M   Family       Medium    C1
13           14      M   Luxury  Extra Large    C1
14           15      F   Family        Large    C1
15           16      F   Luxury        Small    C1
16           17      F   Luxury       Medium    C1
17           18      F   Luxury       Medium    C1
18           19      F   Luxury       Medium    C1
19           20      F   Luxury        Large    C1

In [17]:

df_dum["Gender_F"]

0     0
1     0
2     0
3     0
4     0
5     0
6     1
7     1
8     1
9     1
10    0
11    0
12    0
13    0
14    1
15    1
16    1
17    1
18    1
19    1
Name: Gender_F, dtype: uint8