# Access database from Pandas using mysql-connector and SQLalchemy

* (if you haven't donce so: ) install jupyter and learn how to use jupyter
* install mysql learn how to user mysql
    * install mysql
    * start mysql server
    * create root account (and other account if necessary)
    * create a database
    * create tables inside database
* install python SQL access modules
    * to access mysql: pip install mysql-connector
    * other module: pip install sqlalchemy
    * other module: pip install pyodbc
    * there are many other such modules
    
## Read database tables directly into Pandas dataFrame

### Using mysql-connector

In [1]:
# connect to mySQL and use a specific database directly
# Read the data directly into a pandas dataFrame
import pandas as pd
import mysql.connector

# get a db connection first
mydb = mysql.connector.connect(host="localhost", user="root", passwd="1234", database="test" )

#mycursor = mydb.cursor()
#df = psql.read_sql("select * from student", con=mydb)
df = pd.read_sql_query("select * from student", con=mydb)

# Then you can consume your data in a for loop
print(df)

   SID  Fname  Lname       Dept Division  Year
0    1   john  smith    physics        u     2
1    3  peter   chen  chemistry        p     4
2    4   mary    lin         ee        e     3
3    5   jack  huang         ee        e     3

### Using SQLalchemy

In [2]:
# Work with to mySQL DB using sqlalchemy and pandas
import pandas as pd
import sqlalchemy as sql

sql_engine = sql.create_engine("mysql+mysqlconnector://root:1234@localhost/test")
df2 = pd.read_sql_query("select * from student", sql_engine)
print(df2)

   SID  Fname  Lname       Dept Division  Year
0    1   john  smith    physics        u     2
1    3  peter   chen  chemistry        p     4
2    4   mary    lin         ee        e     3
3    5   jack  huang         ee        e     3

In [3]:
# Creating a DataFrame
import numpy as np

# first create an pandas index
dates = pd.date_range('20130101', periods=6)
print(dates)

# create a data frame by supplying:
# 1. the data 
# 2. an index 
# 3. a list of column labels
df3 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df3)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01  1.794079  0.548981 -0.085564  0.181984
2013-01-02  2.083424  0.799180  0.556052 -0.691875
2013-01-03 -1.252546 -1.747413  0.285303 -0.442442
2013-01-04  0.597912 -2.060816  0.140906 -0.442815
2013-01-05 -0.376825 -1.349746  1.311617  0.086657
2013-01-06 -0.149758  0.314281 -0.092059 -0.316373

In [4]:
df3.to_sql('newdata', sql_engine)