# Access database from Pandas using mysql-connector and SQLalchemy

* (if you haven't donce so: ) install jupyter and learn how to use jupyter
* install mysql learn how to user mysql
    * install mysql
    * start mysql server
    * create root account (and other account if necessary)
    * create a database
    * create tables inside database
* install python SQL access modules
    * to access mysql: pip install mysql-connector
    * other module: pip install sqlalchemy
    * other module: pip install pyodbc
    * there are many other such modules
    
## Read database tables directly into Pandas dataFrame

### Using mysql-connector

In [52]:
# connect to mySQL and use a specific database directly
# Read the data directly into a pandas dataFrame
import pandas as pd
import mysql.connector

# get a db connection first
mydb = mysql.connector.connect(host="localhost", user="root", passwd="cayu4686", database="test" )

#mycursor = mydb.cursor()
#df = psql.read_sql("select * from student", con=mydb)
df = pd.read_sql_query("select * from student", con=mydb)

# Then you can consume your data in a for loop
print(df)
    
avg = pd.read_sql_query("select AVG(Year) from student", con=mydb)
print(avg)

   ID  Fname  Lname       Dept Division  Year
0   1   john  smith    physics        u     2
1   3  peter   chen  chemistry        p     4
2   4   mary    lin         ee        e     3
3   5   jack  huang         ee        e     3

TypeError: read_sql_query() missing 1 required positional argument: 'con'

### Using SQLalchemy

In [43]:
# Work with to mySQL DB using sqlalchemy and pandas
import pandas as pd
import sqlalchemy as sql

sql_engine = sql.create_engine("mysql+mysqlconnector://root:cayu4686@localhost/test")
df2 = pd.read_sql_query("select * from tsmc", sql_engine)
print(df2)

    index         日期        成交股數            成交金額    開盤價    最高價    最低價    收盤價  \
0       0  108/06/03  36,687,092   8,651,389,851  235.5  238.5  232.0  238.0
1       1  108/06/04  24,443,428   5,745,045,809  237.5  238.0  233.0  233.0
2       2  108/06/05  35,901,584   8,461,930,934  238.0  238.0  234.0  235.0
3       3  108/06/06  34,651,731   8,008,768,323  231.5  232.0  229.5  232.0
4       4  108/06/10  35,521,888   8,442,986,620  237.5  240.0  234.5  240.0
5       5  108/06/11  34,691,670   8,448,805,962  240.0  246.0  239.0  244.5
6       6  108/06/12  30,409,556   7,469,805,086  244.5  247.5  243.0  246.0
7       7  108/06/13  33,731,724   8,136,137,708  242.5  244.0  240.0  240.0
8       8  108/06/14  35,403,556   8,396,819,832  238.5  239.5  236.0  236.0
9       9  108/06/17  51,692,012  12,043,369,475  231.5  235.0  230.5  233.0
10     10  108/06/18  28,798,087   6,758,454,612  234.0  235.5  233.0  235.5
11     11  108/06/19  50,234,372  12,181,979,568  242.5  244.0  240.5  244.0
12     12  108/06/20  39,717,291   9,697,726,719  242.0  245.5  241.0  245.0
13     13  108/06/21  62,136,304  15,398,139,830  248.0  248.5  246.0  248.5
14     14  108/06/24  43,460,507  10,476,936,660  241.0  242.0  240.0  241.0
15     15  108/06/25  29,735,283   7,118,002,390  241.0  241.5  237.0  238.5
16     16  108/06/26  28,770,041   6,757,991,717  235.0  236.5  234.0  234.5
17     17  108/06/27  42,007,834  10,063,332,494  236.0  241.5  236.0  240.5
18     18  108/06/28  28,085,212   6,715,488,371  241.5  241.5  238.0  239.0
19     19  108/07/01  66,370,875  16,445,222,750  245.5  250.0  245.0  248.5
20     20  108/07/02  26,832,202   6,671,951,743  249.5  250.0  247.5  249.0
21     21  108/07/03  29,549,774   7,190,777,082  244.0  245.0  242.0  242.5
22     22  108/07/04  18,691,240   4,561,556,160  244.5  245.0  242.5  244.0
23     23  108/07/05  27,317,074   6,624,379,927  244.5  245.0  241.5  243.0
24     24  108/07/08  29,190,909   7,057,462,187  240.0  244.5  240.0  242.5
25     25  108/07/09  16,538,987   3,998,096,596  241.5  243.0  240.5  242.0
26     26  108/07/10  23,812,131   5,839,691,357  243.0  247.0  243.0  247.0
27     27  108/07/11  31,296,289   7,809,358,257  250.0  250.0  247.5  250.0
28     28  108/07/12  23,868,432   5,984,689,000  252.0  252.0  249.5  250.5
29     29  108/07/15  34,264,300   8,663,129,910  251.0  254.5  249.5  254.5
..    ...        ...         ...             ...    ...    ...    ...    ...
59     59  108/08/27  53,664,951  13,410,582,151  250.5  251.0  248.5  250.0
60     60  108/08/28  15,280,882   3,852,096,070  250.5  253.0  250.5  252.0
61     61  108/08/29  20,085,767   5,078,703,588  253.0  254.0  251.0  254.0
62     62  108/08/30  35,299,201   9,092,482,858  256.5  259.0  256.0  259.0
63     63  108/09/02  14,776,854   3,800,453,292  258.0  258.0  256.0  257.5
64     64  108/09/03  26,086,495   6,642,868,555  256.5  258.0  253.0  254.0
65     65  108/09/04  23,697,733   6,081,456,520  254.0  258.0  254.0  257.5
66     66  108/09/05  49,041,728  12,869,665,251  263.0  263.0  260.5  263.0
67     67  108/09/06  26,609,515   7,016,868,801  265.0  265.0  263.0  263.5
68     68  108/09/09  17,317,833   4,585,545,966  265.5  266.0  263.5  265.0
69     69  108/09/10  30,019,866   7,862,297,242  263.5  264.0  260.5  261.5
70     70  108/09/11  36,266,015   9,508,884,445  264.0  264.5  260.5  263.0
71     71  108/09/12  38,792,293  10,198,483,555  265.0  265.0  261.5  262.5
72     72  108/09/16  38,913,966  10,258,240,252  262.0  265.5  261.5  265.5
73     73  108/09/17  30,069,844   7,979,032,930  266.5  266.5  264.5  265.0
74     74  108/09/18  51,360,759  13,754,334,364  267.0  269.5  266.5  267.0
75     75  108/09/19  27,165,567   7,216,457,755  268.0  268.0  264.0  265.0
76     76  108/09/20  44,555,865  11,785,924,559  266.0  266.5  264.0  264.0
77     77  108/09/23  14,220,208   3,749,146,092  264.0  264.0  263.0  264.0
78     78  108/09/24  24,304,943   6,419,420,695  263.5  265.5  262.0  265.0
79     79  108/09/25  23,244,163   6,144,037,875  262.5  266.0  262.0  266.0
80     80  108/09/26  34,128,103   9,139,219,995  269.0  269.5  266.5  268.0
81     81  108/09/27  44,242,817  12,021,629,536  271.5  272.5  271.0  272.0
82     82  108/10/01  75,248,890  20,886,838,992  273.0  280.5  273.0  280.0
83     83  108/10/02  30,572,953   8,553,297,334  280.0  281.0  279.0  279.5
84     84  108/10/03  35,874,864   9,891,620,358  274.0  277.5  274.0  276.5
85     85  108/10/04  35,814,613   9,924,872,301  279.5  280.0  275.0  276.5
86     86  108/10/07  17,750,230   4,944,376,000  279.0  279.5  277.5  278.0
87     87  108/10/08  39,868,551  11,341,522,526  283.5  286.5  282.5  286.5
88     88  108/10/09  34,895,456   9,890,256,397  283.5  286.0  282.0  282.0

    漲跌價差    成交筆數
0    2.5   8,857
1   -5.0  11,779
2    2.0  12,064
3   -3.0  14,723
4    8.0  15,588
5    4.5  13,157
6    1.5  11,457
7   -6.0  13,552
8   -4.0  14,911
9   -3.0  20,943
10   2.5   9,681
11   8.5  20,528
12   1.0  13,879
13   3.5  19,049
14   0.0  17,780
15  -2.5  11,130
16  -4.0  13,535
17   6.0  14,983
18  -1.5   8,987
19   9.5  29,551
20   0.5  12,531
21  -6.5  16,033
22   1.5   8,565
23  -1.0   9,013
24  -0.5  10,552
25  -0.5   6,486
26   5.0  12,366
27   3.0  14,360
28   0.5   8,363
29   4.0  12,174
..   ...     ...
59   1.5   8,939
60   2.0   6,829
61   2.0   6,596
62   5.0  13,703
63  -1.5   7,608
64  -3.5  11,210
65   3.5   9,291
66   5.5  22,796
67   0.5  11,957
68   1.5   8,762
69  -3.5  11,831
70   1.5  12,058
71  -0.5   8,282
72   3.0  11,120
73  -0.5   9,222
74   2.0  17,993
75   0.0  10,194
76  -1.0   9,109
77   0.0   5,647
78   1.0   9,180
79   1.0   7,145
80   2.0  11,861
81   4.0  16,626
82   8.0  26,648
83  -0.5  12,294
84  -3.0  12,853
85   0.0  13,780
86   1.5   7,757
87   8.5  16,721
88  -4.5  14,567

[89 rows x 10 columns]

In [8]:
# Creating a DataFrame
import numpy as np

# first create an pandas index
dates = pd.date_range('20130101', periods=6)
print(dates)

# create a data frame by supplying:
# 1. the data 
# 2. an index 
# 3. a list of column labels
df3 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df3)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01 -1.464175 -0.097289  2.811310 -0.792547
2013-01-02  0.749806 -1.355674  1.477440  1.365417
2013-01-03  1.142539 -0.064065  0.506018  1.563765
2013-01-04  1.336668  0.000670  1.400259 -2.869876
2013-01-05  1.334881  0.941587 -0.913014 -1.740629
2013-01-06  0.389291  0.133065  0.922569  0.673666

In [13]:
df3.to_sql('newdata2', sql_engine)

ValueError: Table 'newdata2' already exists.

In [21]:
df = pd.read_sql_query("select * from newdata", con=mydb)

# Then you can consume your data in a for loop
print(df)

       index         A         B         C         D
0 2013-01-01  0.951607  1.111950  0.263627  2.103144
1 2013-01-02 -0.508666 -0.841319  1.305268  2.480807
2 2013-01-03 -0.083666  0.249384  1.234135 -0.295950
3 2013-01-04 -0.447766  0.418775  1.242453  0.003467
4 2013-01-05  1.259010  0.659554 -1.227865  0.960212
5 2013-01-06  1.131743 -0.457356  1.440345  0.751391

In [25]:
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE newdata2")

In [30]:
mycursor.execute('show tables')

InternalError: Unread result found